@import 'nib'

global-reset()

body
  background-color #16161D
  color #EEE
  font-family monospace
  font-size 600%
  font-weight bold
  #wrap
    position absolute
    margin auto
    top 0
    left 0
    bottom 0
    right 0
    width 8em
    height 2.5em
    line-height 1.5em
    #text
      text-align center
