doctype html
html
  head
    meta(charset="utf-8")
    title countdown
    link(rel="stylesheet" type="text/css" href="./css/vendor.css")
    link(rel="stylesheet" type="text/css" href="./css/style.css")
  body
    #wrap
    script(src="./js/vendor.js")
    script(src="./js/moment.min.js")
    script(src="./js/countdown.min.js")
    script(src="./js/moment-countdown.min.js")
    script(src="./js/main.js")
